<div class="add-task-form">

  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <h2>Create Task</h2>
      <label for="title">Title:</label>
      <input type="text" id="title" formControlName="title">
      <div *ngIf="taskForm.get('title')!.invalid && taskForm.get('title')!.touched" class="error-message">Title is required.</div>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" formControlName="description" rows="4"></textarea>
      <div *ngIf="taskForm.get('description')!.invalid && taskForm.get('description')!.touched" class="error-message">Description is required.</div>
    </div>
    <div class="form-group">
      <label for="dueDate">Due Date:</label>
      <input type="date" id="dueDate" formControlName="dueDate">
      <div *ngIf="taskForm.get('dueDate')!.invalid && taskForm.get('dueDate')!.touched" class="error-message">Due Date is required.</div>
    </div>
    <div class="form-group">
      <label for="status">Status:</label>
      <select id="status" formControlName="status">
        <option value="Pending">Pending</option>
        <option value="Completed">Completed</option>
        <option value="In Progress">In Progress</option>
      </select>
      <div *ngIf="taskForm.get('status')!.invalid && taskForm.get('status')!.touched" class="error-message">Status is required.</div>
    </div>
    <button type="submit" [disabled]="taskForm.invalid">Create Task</button>
    <button type="submit" (click)="returnToMainPage()">Cancel</button>
  </form>
</div>